<h1>New Book List Item Page</h1>

<!--thisngs I need to do here are provide a list of existing books
provide a way to create a new book
and I need to  know what user I'm working with  -->

<form action="/book_list_items" method="post">
  <input type="hidden" name="user_id" value="<%=current_user.id%>">
  <h2>Pick from the existing list of books not already on your list:</h2>
    <ul>
      <%@books.each do |book|%>
        <li><input type="checkbox" id="book_<%=book.id%>" name="book_list_item[book_ids][]" value="<%=book.id%>"><%=book.title%> by <%=book.author%></input></li>
          <ul>
            <li> <label for="book_id_<%=book.id%>_note">Note: </label> <input id="book_id_<%=book.id%>_note" type="text" name="book_list_item[book_id_<%=book.id%>][note]"> </li>
            <li> <label for="book_id_<%=book.id%>_library_link">Library Link</label> <input id="book_id_<%=book.id%>_library_link" type="text" name="book_list_item[book_id_<%=book.id%>][library_link]"> </li>
          </ul>
      <%end%>
  </ul>

  <input type="submit" name="Add Book(s)" value="Add Book(s)">
</form>
