<h1>Welcome, <%=@user.name%>, to your book list page!</h1>

<table id="table">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Category</th>
    <th>Location</th>
    <th>Your Notes</th>
  </tr>
  <%@user.books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.category.name %></td>
      <td><a href="<%=book.book_list_items.first.library_link%>">Library link</a></td>
      <td><%=book.book_list_items.first.note%></td>
    </tr>
  <%end%>
<table>
