<% if flash[:message] %>
  <h2 class="warning"><%=flash[:message]%></h2>
<%end%>

<h1>Welcome <%=@user.name%>, to your book list page!</h1>

<table id="table">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Category</th>
    <th>Location</th>
    <th>Your Notes</th>
    <th>Remove from list?</th>
  </tr>
  <%@user.books.each do |book| %>
    <tr>
      <%book_list_item = @user.book_list_items.find_by(book_id: book.id)%>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.category.name %></td>
      <td><a href="<%=book_list_item.library_link%>" target="_blank">Library link</a></td>
      <td><%=book_list_item.note%></td>
      <td><form action="/book_list_items/<%=book_list_item.id%>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="remove book" value="Remove Book">
      </form></td>
    </tr>
  <%end%>
<table>

    <!-- current_user.book_list_items.find_by(book_id: params[:id]).destroy -->
  <form  action="/book_list_items/new" method="get">
    <input class="big_button" type="submit" value="Add Book to List">
  </form>

  <form  action="/logout" method="get">
    <input class="big_button" type="submit" value="Logout">
  </form>
