<h1>Welcome, <%=@user.name%>, to your book list page!</h1>

<table id="table">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Category</th>
    <th>Your Notes</th>
  </tr>
  <%@user.books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.category.name %></td>
      <td><%=book.user_books.find{|ub| ub.user_id == @user.id}.note%></td>
    </tr>
  <%end%>
<table>
