<% if flash[:message] %>
  <h2 class="warning"><%=flash[:message]%></h2>
<%end%>

<h1>Welcome to your book list page, <%=@user.name%>!</h1>

  <table id="table">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Category</th>
      <th>Location</th>
      <th>Your Notes</th>
      <th>Edit List Item?</th>
      <th>Remove From List?</th>
    </tr>
    <%@user.books.each do |book| %>
      <tr>
        <%book_list_item = @user.book_list_items.find_by(book_id: book.id)%>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%if book.category %><%= book.category.name %><%end%></td>
        <td>
          <%if book_list_item.library_link%>
            <a href="<%=book_list_item.library_link%>" target="_blank">Library link</a>
          <%end%></td>
        <td><%=book_list_item.note%></td>
        <td>
          <form action="/book_list_items/<%=book_list_item.id%>/edit" method="get">
          <input type="submit" name="edit entry" value="Edit">
          </form>
        </td>
        <td>
          <form action="/book_list_items/<%=book_list_item.id%>/delete" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" name="remove list item" value="Remove">
          </form>
        </td>
      </tr>
    <%end%>
  <table>

  <form  action="/book_list_items/new" method="get">
    <input class="big_button" type="submit" value="Add a Book to List">
  </form>

  <form action="/categories" method="get">
    <input class="big_button" type="submit" value="View Category Index">
  </form>

  <form action="/books" method="get">
    <input class="big_button" type="submit" value="View Book Index">
  </form>

  <form  action="/logout" method="get">
    <input class="big_button" type="submit" value="Logout">
  </form>
