<% if flash[:message] %>
  <h2 class="warning"><%=flash[:message]%></h2>
<%end%>

<h1>Book Index Page</h1>

<ul>
  <%@books.each do |book| %>
    <li><a href="/books/<%=book.id%>"><%=book.title%></a> by <%=book.author%></li>
  <%end%>
</ul>

<form action="/users/<%=current_user.id%>" method="get">
  <input class="big_button" type="submit" value="View Your Book List">
</form>

<form action="/categories" method="get">
  <input class="big_button" type="submit" value="View Category Index">
</form>
